# IDE
# NOTHING HERE. PLEASE ADD YOUR IDE/EDITOR FILES TO YOUR .gitignore_global
# https://docs.github.com/en/github/using-git/ignoring-files#configuring-ignored-files-for-all-repositories-on-your-computer

# tests
.vagrant
